nav ul {
  display: flex;
  background-color: lightblue;
  position: sticky;
  top: 0;

  padding: 1rem;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  margin-left: 2rem;
  list-style: none;
  font-size: large;
}
